node_modules/
dist/
.env.local
.env
android/key.properties
android/google-services.json
notification-server/firebase-admin-key.json
notification-server/firebase-admin-key.json.json
my-release-key.keystore
firebase-admin-key.json
logs.txt
notification-server/.env